body{
    background-color: black;
    color: white;
}

li{
    font-size: 20px;
    color: red;
}

#html{
    color: orangered;
}

#css{
    color: rgb(121, 182, 231);
}

#javascript{
    color: yellow;
}

button{
    background-color: rgb(81, 255, 0);
    padding: 10px 20px; /*Espaço INTERNO*/
    margin: 10px; /*ESPAÇO EXTERNO*/
    border-radius: 10px; /*Borda*/
    max-width: 100px;
}

span{
    font-size: 15px;
    color: rgb(9, 0, 141);
}

div{
    display: flex;
    flex-direction: column;
}

#acessivel{
    display: 
}

