body{
    background-color: black;
    color: white;
}

li{
    font-size: 20px;
    color: red;
}

#html{
    color: orangered;
}

#css{
    color: rgb(121, 182, 231);
}

#javascript{
    color: yellow;
}