body{
    background-color: black;
    color: white;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li{
    font-size: 20px;
    color: red;
}

#html{
    color: orangered;
}
/* 
    2° li como aul claro   
    3° li como amarelo
*/
#css{
    color: aqua;
}

#javascript{
    color: yellow;
}

button{
    background-color: rgb(0, 128, 17);
    padding: 10px 20px;  /* ESPAÇO INTERNO*/
    margin: 10px; /* ESPAÇO EXTERNO*/
    border-radius: 10px; /*BORDA*/
    max-width: 100px;
}
 
span{
    font-size: 20px;
    color: black
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#acessivel{
    position: fixed;
    right: 20px;
    bottom: 20px;
}

hr{
    width: 50%;
    color: cyan;
}